@charset "UTF-8";
#join {
  width: 100%;
}
#join .container {
  width: 640px;
  margin: 0 auto;
}
#join .container .gap {
  margin: 0;
  padding: 0 20px;
}
#join .container .gap .wrap {
  width: 100%;
}
#join .container .gap .wrap #form {
  position: relative;
  z-index: 1;
}
#join .container .gap .wrap #form .title_box {
  width: 100%;
  text-align: center;
  margin: 50px 0 30px 0;
}
#join .container .gap .wrap #form .title_box h1 img {
  width: 100px;
}
#join .container .gap .wrap #form .title_box h2 {
  padding: 5px 0 0 0;
  font-size: 32px;
  font-weight: 600;
  font-family: "Nanum Gothic";
  color: #83a75d;
}
#join .container .gap .wrap #form .content_box {
  width: 100%;
}
#join .container .gap .wrap #form .content_box h4 {
  border-bottom: 2px solid #000;
  width: 100%;
  text-align: right;
  padding: 0 0 10px 0;
}
#join .container .gap .wrap #form .content_box h4 span {
  color: #666;
  font-size: 12px;
}
#join .container .gap .wrap #form .content_box h4 span i {
  color: #c00;
  font-size: 16px;
  margin: 0 2px 0 0;
}
#join .container .gap .wrap #form .content_box ul {
  width: 100%;
  padding: 10px 0 0 0;
}
#join .container .gap .wrap #form .content_box ul li .gap {
  padding: 10px 0;
  display: flex;
}
#join .container .gap .wrap #form .content_box ul li .gap .label_box {
  padding: 0 0 0 28px;
  width: 160px;
  display: flex;
}
#join .container .gap .wrap #form .content_box ul li .gap .label_box span {
  color: #111;
  font-size: 14px;
  font-family: "Nanum Gothic";
  font-weight: 600;
  margin: auto auto auto 0;
}
#join .container .gap .wrap #form .content_box ul li .gap .label_box span i {
  color: #c00;
  font-size: 15px;
  margin: 0 0 0 2px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box {
  width: 490px;
  padding: 0 120px 0 0;
  margin: auto 28px auto auto;
  position: relative;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText {
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 15px 0 15px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText::-moz-placeholder {
  color: #bbb;
  font-size: 14px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText:-ms-input-placeholder {
  color: #bbb;
  font-size: 14px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText::placeholder {
  color: #bbb;
  font-size: 14px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText:focus {
  outline-offset: -1px;
  outline: 1px solid #777;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText.addr {
  border: 1px solid #83a75d;
  color: #83a75d;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText.addr img {
  margin: 0 -2px -1px 0;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText.addr span {
  vertical-align: middle;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText.addr.on {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .inputText.phoneNum-input {
  margin-top: 10px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .w120-btn {
  width: 110px;
  height: 45px;
  border: 0;
  background: #fff;
  color: #83a75d;
  border: 1px solid #83a75d;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nanum Gothic";
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .w120-btn.phone {
  border: 1px solid #ccc;
  color: #ccc;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .w120-btn.phoneNum-btn {
  top: 55px;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box .counter-timer-box {
  position: absolute;
  top: 70px;
  right: 130px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: "Noto Sans KR";
  color: #b3130b;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p {
  margin: 7px 0 0 0;
  font-size: 12px;
  color: #666;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p::before {
  display: inline-block;
  content: "•";
  margin: 0 3px 0 0;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p.success {
  color: #0f851a;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p.success::before {
  display: inline-block;
  content: "✓";
  margin: 0 3px 0 0;
  color: #0f851a;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p.error {
  color: #b3130b;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > p.error::before {
  display: inline-block;
  content: "✕";
  margin: 0 3px 0 0;
  color: #b3130b;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > span {
  display: block;
}
#join .container .gap .wrap #form .content_box ul li .gap .input_box > span.address_info {
  margin: 7px 0 0 0;
  font-size: 12px;
  color: #666;
}
#join .container .gap .wrap #form .content_box ul li hr {
  border: 0;
  border-bottom: 1px solid #333;
  width: 100%;
  margin: 20px 0;
}
#join .container .gap .wrap #form .content_box ul li.service .gap {
  height: auto;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .label_box {
  height: auto;
  margin: 0 auto auto 0;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box {
  padding: 0;
  width: 100%;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl {
  width: 100%;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dt label {
  display: block;
  width: 100%;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dt label input[type=checkbox] {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  background: url(../../public/img/회원가입/ico_checkbox.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
  margin: 0 5px 5px 10px;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dt label input[type=checkbox]:checked {
  background: url(../../public/img/회원가입/ico_checkbox_checked.svg);
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dt label span {
  font-size: 18px;
  color: #444;
  font-weight: 500;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dt p {
  padding: 5px 0 0 45px;
  font-size: 12px;
  color: #666;
  font-family: "Nanum Gothic";
  line-height: 1.5;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd {
  margin: 20px 0;
  position: relative;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd label {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd label input[type=checkbox] {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  background: url(../../public/img/회원가입/ico_checkbox.svg) no-repeat 50% 50%;
  background-size: 24px 24px;
  margin: 0 5px 5px 10px;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd label input[type=checkbox]:checked {
  background: url(../../public/img/회원가입/ico_checkbox_checked.svg);
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd label span {
  font-size: 15px;
  line-height: 24px;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd > span {
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 2;
  font-size: 14px;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd > span a {
  color: #83a75d;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd > span a i {
  font-size: 12px;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd .sub_checkbox {
  padding: 10px 0 0 45px;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd .sub_checkbox div {
  padding: 0 150px 0 0;
  display: flex;
  flex-flow: row wrap;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd .sub_checkbox div label {
  width: 50%;
}
#join .container .gap .wrap #form .content_box ul li.service .gap .check_box dl dd .sub_checkbox p {
  padding: 0 0 0 15px;
  margin: 15px 0 0 34px;
  width: auto;
  background: url(../../public/img/회원가입/ico_sub_dot.svg) no-repeat 0 50%;
  font-size: 12px;
  color: #83a75d;
  font-family: "Nanum Gothic";
}
#join .container .gap .wrap #form .button_box {
  padding: 50px 0 50px 0;
  border-top: 1px solid #ddd;
  text-align: center;
}
#join .container .gap .wrap #form .button_box button {
  width: 250px;
  height: 60px;
  background: #83a75d;
  border: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#join .container .gap .wrap #form .button_box button:hover {
  filter: brightness(120%);
}
#join .container .gap .wrap .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
}
#join .container .gap .wrap .popup .popup-container {
  width: 490px;
  height: 270px;
  background: #fff;
  margin: auto;
}
#join .container .gap .wrap .popup .popup-container .content-box {
  width: 100%;
  height: 170px;
  background: #fff;
}
#join .container .gap .wrap .popup .popup-container .content-box ul {
  padding: 0 25px;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li {
  width: 100%;
  display: flex;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(1) {
  height: 60px;
  border-bottom: 1px solid #ccc;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(1) h2 {
  margin: auto auto auto 0;
  color: #83a75d;
  font-weight: 500;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(1) span {
  margin: auto 0 auto auto;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(1) span a img {
  width: 32px;
  height: 32px;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(2) {
  height: 110px;
}
#join .container .gap .wrap .popup .popup-container .content-box ul li:nth-child(2) p {
  width: 100%;
  font-size: 14px;
  color: #444;
  text-align: center;
  margin: auto;
}
#join .container .gap .wrap .popup .popup-container .button-box {
  width: 100%;
  height: 100px;
  background: #f0f0f0;
  display: flex;
}
#join .container .gap .wrap .popup .popup-container .button-box .ok-btn {
  width: 150px;
  height: 45px;
  margin: auto;
  background: #83a75d;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}