.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}
.popup .popup-container {
  width: 490px;
  height: 280px;
  background: #fff;
  margin: auto;
}
.popup .popup-container .content-box {
  height: 180px;
  background: #fff;
}
.popup .popup-container .button-box {
  height: 100px;
  background: #f0f0f0;
}